<%= form_for(@task) do |f| %>
    <h3>Задача в группе <%= current_workspace.name %></h3>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :deadline %><br>
    <%= f.datetime_select :deadline %>
  </div>
    <div class="field">
      <%= f.radio_button :planning_state, "to_sometime" %>
      <%= f.label :planning_state, 'Когда-нибудь' %><br />
      <%= f.radio_button :planning_state, "to_next" %>
      <%= f.label :planning_state, 'Следующие' %><br />
      <%= f.radio_button :planning_state, "to_today" %>
      <%= f.label :planning_state, 'Сегодня' %><br />
    </div>
  <div class="field">
    <%= f.label :fire %><br>
    <%= f.check_box :fire %>
  </div>
    <% if (action_name == 'new' || action_name == 'create') && current_workspace.default? %>
        <div class="field">
          <%= label_tag :employee_id, 'Назначить исполнителем' %><br />
          <select name="employee_id" id="employee_id">
            <option value="">Выбрать исполнителя</option>
            <optgroup label="Пользователи">
              <% current_workspace.employees.users.where.not(:id => current_employee.id).each do |employee| %>
                  <option value="<%= employee.id %>"><%= employee.user_name %></option>
              <% end %>
            </optgroup>
            <optgroup label="Группы">
              <% current_workspace.root.subtree.each do |group| %>
                  <% group.employees.groups.where.not(group_id: current_workspace.id).each do |employee| %>
                      <option value="<%= employee.id %>"><%= employee.group.name %></option>
                  <% end %>
              <% end %>
            </optgroup>
          </select>
        </div>
    <% end %>
    <% if params[:parent].present? %>
        <%= hidden_field_tag :parent, params[:parent] %>
    <% end %>
    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
