<% @employees.each do |employee| %>
    <% if employee.active_tasks_with_finished.present? %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= employee.group.present? ? (employee.group.name + ' (' + employee.active_tasks_with_finished.count.to_s + ')') : '' %>
          </div>
          <table class="table">
            <thead>
            <tr>
              <th class="number">#</th>
              <th class="challenge">Задача</th>
              <th>Description</th>
              <th>Deadline</th>
              <th>Fire</th>
              <th>Finish</th>
              <th colspan="4"></th>
              <th class="status">Статус</th>
            </tr>
            </thead>
            <tbody>
            <% employee.active_tasks_with_finished.order(:finished => :asc, :fire => :desc, :deadline => :asc).each do |task| %>
                <% employee_task = EmployeeTask.where(employee_id: (current_user.employee_ids & task.employee_ids)[0], task_id: task.id).take %>
                <tr>
                  <td><%= cycle 1..9999 %></td>
                  <td><%= link_to task.title, task, class: ((task.over_deadline? ? 'task-over-deadline' : '') + ' ' + (employee_task.completed? ? 'task-finished' : '')) %></td>
                  <td><%= task.description %></td>
                  <td><%= task.deadline %></td>
                  <td><%= task.fire %></td>
                  <td><%= employee_task.completed? %></td>
                  <td>
                    <% if employee_task.completed? %>
                        <%= link_to 'Восстановить', restore_task_path(task), method: :patch %>
                    <% else %>
                        <%= link_to 'Завершить', complete_task_path(task), method: :patch %>
                    <% end %>
                  </td>
                  <td><%= link_to 'Show', task %></td>
                  <td><%= link_to 'Edit', edit_task_path(task) %></td>
                  <td><%= link_to 'Destroy', task, method: :delete, data: {confirm: 'Are you sure?'} %></td>
                  <td class="check"><input type="checkbox"></td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
    <% end %>
<% end %>