<!--<div class="forms">
  <p><span class="forms-text">Построить социальную сеть активных людей</span></p>
  <select class="form-control forms-css">
    <option selected>Выбранная цель:</option>
    <option>Сайт</option>
    <option>Джава скрипт</option>
    <option>Энифинг элс</option>
    <option>Лорем ипсум долор</option>
  </select>

  <p><span class="forms-text-no-color">Цель дня: Здесь выбираем цель сегодняшнего дня</span></p>
  <select class="form-control forms-css">
    <option>Моя группа</option>
    <option>Его группа</option>
    <option>Её группа</option>
    <option>Их группа</option>
    <option>Наша группа</option>
  </select>
</div> -->
<div class="forms">
  <%= form_tag set_workspace_groups_path do %>
      <select id="workspace" name="workspace" class="form-control forms-css", onchange="form.submit()">
        <% @groups.each do |group| %>
            <option value="<%= group.id %>"
                    <% if session[:workspace].present? %>
                    <%= session[:workspace].to_i == group.id ? 'selected=selected' : '' %>
                    <% end %>
                    ><%= group.name %>
            </option>
        <% end %>
      </select>
  <% end %>
</div>
<div class="layout">
  <div class="left-column">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">А: Обязательно (День) <%= link_to 'Сортировка по умолчанию', clear_sort_tasks_path %></div>


      <!-- Table -->
      <table class="table">
        <thead>
        <tr>
          <th class="number">#</th>
          <th class="challenge">Задача</th>
          <th class="status">Готово</th>
          <th class="status">Статус</th>
        </tr>
        </thead>
        <tbody class="sortable-tasks">
        <% @today_tasks_sorted.each do |task| %>
            <tr id="<%= task.id %>">
              <td><%= cycle 1..9999 %></td>
              <td><%= link_to task.title, task, class: (task.over_deadline? ? 'task-over-deadline' : '')%></td>
              <td class="check"><%= link_to 'Завершить', complete_task_path(task) %></td>
              <td class="check"><input type="checkbox"></td>
            </tr>
        <% end %>
        <% @today_tasks_over_deadline.each do |task| %>
            <tr id="<%= task.id %>">
              <td><%= cycle 1..9999 %></td>
              <td><%= link_to task.title, task, class: (task.over_deadline? ? 'task-over-deadline' : '')%></td>
              <td class="check"><%= link_to 'Завершить', complete_task_path(task) %></td>
              <td class="check"><input type="checkbox"></td>
            </tr>
        <% end %>
        <% @today_tasks_normal.each do |task| %>
            <tr id="<%= task.id %>">
              <td><%= cycle 1..9999 %></td>
              <td><%= link_to task.title, task, class: (task.over_deadline? ? 'task-over-deadline' : '')%></td>
              <td class="check"><%= link_to 'Завершить', complete_task_path(task) %></td>
              <td class="check"><input type="checkbox"></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>


    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">B: Следующие (Неделя)</div>


      <!-- Table -->
      <table class="table">
        <thead>
        <tr>
          <th class="number">#</th>
          <th class="challenge">Задача</th>
          <th class="status">Готово</th>
          <th class="status">Статус</th>
        </tr>
        </thead>
        <tbody>
        <% @next_tasks.each do |task| %>
            <tr>
              <td><%= cycle 1..9999 %></td>
              <td><%= link_to task.title, task, class: (task.over_deadline? ? 'task-over-deadline' : '')%></td>
              <td class="check"><%= link_to 'Завершить', complete_task_path(task) %></td>
              <td class="check"><input type="checkbox"></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>



    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">C: Удобный момент (по тегам на сегодня)</div>


      <!-- Table -->
      <table class="table">
        <thead>
        <tr>
          <th class="number">#</th>
          <th class="challenge">Задача</th>
          <th class="status">Статус</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>Задача номер раз</td>
          <td class="check"><input type="checkbox"></td>
        </tr>
        <tr>
          <td>2</td>
          <td>Задача номер два два два</td>
          <td class="check"><input type="checkbox"></td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">D: Остальные</div>


      <!-- Table -->
      <table class="table">
        <thead>
        <tr>
          <th class="number">#</th>
          <th class="challenge">Задача</th>
          <th class="status">Готово</th>
          <th class="status">Статус</th>
        </tr>
        </thead>
        <tbody>
        <% @other_tasks.each do |task| %>
            <tr>
              <td><%= cycle 1..9999 %></td>
              <td><%= link_to task.title, task, class: (task.over_deadline? ? 'task-over-deadline' : '')%></td>
              <td class="check"><%= link_to 'Завершить', complete_task_path(task) %></td>
              <td class="check"><input type="checkbox"></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>




  </div>





  <div class="center-column">
    <div class="panel panel-primary">
      <!-- Default panel contents -->
      <!-- Table -->
      <table class="table">
        <tbody>
        <tr>
          <td class="time">10:00 - 11:00</td>
          <td>Задача номер раз</td>
        </tr>
        <tr>
          <td class="time">11:00 - 12:00</td>
          <td>Задача номер два два два</td>
        </tr>
        <tr>
          <td class="time">12:00 - 13:00</td>
          <td>№3</td>
        </tr>
        <tr>
          <td class="time">10:00 - 11:00</td>
          <td>Задача номер раз</td>
        </tr>
        <tr>
          <td class="time">11:00 - 12:00</td>
          <td>Задача номер два два два</td>
        </tr>
        <tr>
          <td class="time">12:00 - 13:00</td>
          <td>№3</td>
        </tr>
        <tr>
          <td class="time">10:00 - 11:00</td>
          <td>Задача номер раз</td>
        </tr>
        <tr>
          <td class="time">11:00 - 12:00</td>
          <td>Задача номер два два два</td>
        </tr>
        <tr>
          <td class="time">12:00 - 13:00</td>
          <td>№3</td>
        </tr>
        <tr>
          <td class="time">10:00 - 11:00</td>
          <td>Задача номер раз</td>
        </tr>
        <tr>
          <td class="time">11:00 - 12:00</td>
          <td>Задача номер два два два</td>
        </tr>
        <tr>
          <td class="time">12:00 - 13:00</td>
          <td>№3</td>
        </tr>
        <tr>
          <td class="time">10:00 - 11:00</td>
          <td>Задача номер раз</td>
        </tr>
        <tr>
          <td class="time">11:00 - 12:00</td>
          <td>Задача номер два два два</td>
        </tr>
        <tr>
          <td class="time">12:00 - 13:00</td>
          <td>№3</td>
        </tr>
        <tr>
          <td class="time">10:00 - 11:00</td>
          <td>Задача номер раз</td>
        </tr>
        <tr>
          <td class="time">11:00 - 12:00</td>
          <td>Задача номер два два два</td>
        </tr>
        <tr>
          <td class="time">12:00 - 13:00</td>
          <td>№3</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>



  <div class="right-column">

    <div class="calendar">
      <ul class="nav nav-pills">
        <li class="active"><a href="#">День</a></li>
        <li><a href="#">Неделя</a></li>
        <li><a href="#">Месяц</a></li>
      </ul>
      <%= image_tag "calendar.png" %>
    </div>

  </div>
</div>