<p>
  <strong>Автор:</strong>
  <%= link_to @author.name, @author %>
</p>

<p>
  <strong>Статус:</strong>
  <%= @employee_task.str_status %>
  <% if @employee_task.prepare_to_delegate? %>
      <br/>
      <% proposal = Proposal.find_by_task_id(@task.id) %>
      <%= link_to 'Заявка', proposal %>
  <% elsif @employee_task.delegated? %>
      <br/>
      <% employee = @task.employees.where(employee_tasks: {role: EmployeeTask.roles[:performer]}).take %>
      <% if employee.group_id == @employee_task.employee.group_id %>
          Исполнитель <%= link_to employee.user.name, employee.user %>
      <% else %>
          Исполнитель <%= link_to employee.group.name, employee.group %>
      <% end %>
  <% end %>
</p>

<p>
  <strong>Заголовок:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Описание:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Дэдлайн:</strong>
  <%= @task.deadline %>
</p>

<p>
  <strong>Планирование:</strong>
  <%= @task.planning_state %>
</p>

<p>
  <strong>Fire:</strong>
  <%= @task.fire %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %> |
<% if @employee_task.completed? %>
    <%= link_to 'Восстановить', restore_task_path(@task), method: :patch %>
<% else %>
    <%= link_to 'Завершить', complete_task_path(@task), method: :patch %>
<% end %>

<% if @employee_task.active? %>
    <div>
      <%= form_tag delegate_task_path do %>
          <div class="field">
            <%= label_tag :employee_id, 'Делегировать задачу пользователю' %><br/>

            <select name="employee_id" id="employee_id">
              <option value="">Выбрать исполнителя</option>
              <optgroup label="Пользователи">
                <% current_workspace.employees.users.where.not(:id => current_employee.id).each do |employee| %>
                    <option value="<%= employee.id %>"><%= employee.user_name %></option>
                <% end %>
              </optgroup>
              <optgroup label="Группы">
                <% current_workspace.root.subtree.each do |group| %>
                    <% group.employees.groups.where.not(group_id: current_workspace.id).each do |employee| %>
                        <option value="<%= employee.id %>"><%= employee.group.name %></option>
                    <% end %>
                <% end %>
              </optgroup>
            </select>

          </div>
          <div class="actions">
            <%= submit_tag 'Делегировать' %>
          </div>
      <% end %>
    </div>
<% end %>