<p>
  <strong>Заголовок:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Описание:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Дэдлайн:</strong>
  <%= @task.deadline %>
</p>

<p>
  <strong>Планирование:</strong>
  <%= @task.planning_state %>
</p>

<p>
  <strong>Fire:</strong>
  <%= @task.fire %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
