<p>
  <strong>Заголовок:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Описание:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Дэдлайн:</strong>
  <%= @task.deadline %>
</p>

<p>
  <strong>Планирование:</strong>
  <%= @task.planning_state %>
</p>

<p>
  <strong>Fire:</strong>
  <%= @task.fire %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>


<div>
  <%= form_tag delegate_task_path do %>
      <div class="field">
        <%= label_tag :employee_id, 'Делегировать задачу пользователю' %><br />
        <%= select_tag :employee_id, options_from_collection_for_select(current_employee.group.employees.where.not(:id => current_employee.id), :id, :user_name) %>
      </div>
      <div class="actions">
        <%= submit_tag 'Делегировать' %>
      </div>
  <% end %>
</div>
