<div class="" style="width: 250px;">
    <p>
      <strong>Name:</strong>
      <h1><%= @group.name %></h1>
    </p>
</div>

<% if @group.account.present? %>
    <p>
      <strong>Account:</strong>
      <%= @group.account %>
    </p>
<% end %>

<% if @group.root_group.present? %>
    <p>
      <strong>Root group:</strong>
      <%= link_to @group.root_group.name, @group.root_group %>
    </p>
<% end %>

<% if @group.parent_group.present? %>
    <p>
      <strong>Parent group:</strong>
      <%= link_to @group.parent_group.name, @group.parent_group %>
    </p>
<% end %>

<h3>Связанные группы:</h3>
<%= nested_groups @children.arrange(:order => :created_at) %>

<%= link_to 'Edit employees', edit_users_group_path(@group) %> |
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
