<h1>Listing Proposals</h1>

<table>
  <thead>
  <tr>
    <th>Task</th>
    <th>Receiver</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @employees.each do |employee| %>
      <% if employee.inbox_proposals.present? %>
          <tr>
            <td><%= employee.group.present? ? (employee.group.name + ' (' + employee.inbox_proposals.count.to_s + ')') : '' %></td>
          </tr>
      <% end %>
      <% employee.inbox_proposals.includes(:task, :supplier).each do |proposal| %>
          <tr>
            <td><%= proposal.task.title %></td>
            <td><%= proposal.supplier.user_name %></td>
            <td><%= link_to 'Show', proposal %></td>
            <td><%= link_to 'Edit', edit_proposal_path(proposal) %></td>
            <td><%= link_to 'Destroy', proposal, method: :delete, data: {confirm: 'Are you sure?'} %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
