<% @employees.each do |employee| %>
    <% if employee.inbox_proposals.present? %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= employee.group.present? ? (employee.group.name + ' (' + employee.inbox_proposals.count.to_s + ')') : '' %>
          </div>
          <table class="table">
            <thead>
            <tr>
              <th>Task</th>
              <th>Supplier</th>
              <th colspan="2"></th>
            </tr>
            </thead>

            <tbody>
            <% employee.inbox_proposals.includes(:task, :supplier).each do |proposal| %>
                <tr>
                  <td><%= link_to proposal.task.title, proposal %></td>
                  <td><%= link_to proposal.supplier.user_name, proposal.supplier.user %></td>
                  <td><%= link_to 'Show', proposal %></td>
                  <td><%= link_to 'Destroy', proposal, method: :delete, data: {confirm: 'Are you sure?'} %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
    <% end %>
<% end %>