<% if current_user.employee_ids.include?(@proposal.supplier_id) %>
    <p>
      Исходящая завявка пользователю <%= link_to @proposal.receiver.user.name, @proposal.receiver.user %>
    </p>
<% elsif current_user.employee_ids.include?(@proposal.receiver_id) %>
    <p>
      Входящая завявка от пользователя <%= link_to @proposal.supplier.user.name, @proposal.supplier.user %>
    </p>
<% end %>

<p>
  <strong>Task:</strong>
  <%= link_to @proposal.task.title, @proposal.task %>
</p>

<p>
  <strong>Description:</strong>
  <%= @proposal.task.description %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @proposal.task.deadline %>
</p>

<p>
  <strong>Fire:</strong>
  <%= @proposal.task.fire %>
</p>



<%= link_to 'Принять задачу', accept_proposal_path(@proposal) %> |
<%= link_to 'Назад', proposals_path %>
